version: "3.8"

services:
  frontend:
    build: ./frontend
    command: npm run dev
    ports:
      - "5173:5173"
    networks:
      - mern_network
    environment:
      - VITE_API_URL=http://backend:5050
    stdin_open: true
    tty: true
    depends_on:
      - backend

networks:
  mern_network:
    external: true
